{% extends 'base.html.twig' %}

{% block title %}Blog Ipglobals (By Iv치n L칩pez){% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Blog Ipglobals (By Iv치n L칩pez)</h1>

    <div id="home-post-list"></div>
</div>
<hr/>
{% include 'web/formPost.html.twig' %}
{% endblock %}

