{% extends 'base.html.twig' %}

{% block title %}Blog Ipglobals (By Iv치n L칩pez){% endblock %}

{% block body %}
<div class="container mx-auto">
    <h1 class="text-4xl mb-5 text-center">Blog Ipglobals (By Iv치n L칩pez)</h1>

    <div id="home-post-list"></div>
</div>
<hr/>
{% include 'web/formPost.html.twig' %}
{% endblock %}

