a {color: #0000ff !important}
a:hover {text-decoration: dashed; !important}

button {
    border: 1px solid #000 !important;
    padding: 8px !important;
    margin-bottom: 10px !important;
    border-radius: 8px;
    min-width: 100px;
    cursor:pointer;
}

input, textarea, select {
    border: 1px solid #000 !important;
    padding: 8px !important;
    margin-bottom: 10px !important;
}

form label {
    padding: 8px !important;
}

#post_form div {
    display: flex;
    align-items: center;
}
